:root  {
    --white: #ECECEC;
    --black: #3D3D3D;
    --blue: #5463FF;
    --red: #FF1818;
    --yellow: #FFC300;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

button {
    cursor: pointer;
}

.sidebar {
    background-color: var(--blue);
}

.logo {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 600;

    text-align: center;

    color: var(--yellow);

    padding: 1.5rem 2rem 1rem 2rem;
}

.logo span {
    font-size: 2.6rem;
    color: var(--white);
    filter: drop-shadow(1px 4px var(--red))
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.todo-dashboard {
    padding: 0 1rem
}

.todo-dashboard > div{
    padding: 1rem 3rem
}

.border-top {
    border-top: 3px solid var(--white);
}

.border-bottom {
    border-bottom: 3px solid var(--white);
}

.flex-grow {
    flex-grow: 3;
}

.dashboard-button {
    background-color: transparent;
    border: 0px solid;

    margin-bottom: 0.8rem;

    color: var(--white);
    text-align: start;
    font-family: inherit;
    font-size: 1.2rem;
}

.dashboard-button:hover {
    color: var(--yellow);
    font-weight: 600;
}

.github {
    margin-top: auto;

    color: var(--white);
    font-size: 1rem;

    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.github svg{
    width: 50px;
    margin-right: 0.5rem;
}

.content {
    background-color: var(--white);
    color: var(--black);

    display: flex;
    flex-direction: column;

}

.current-view {
    margin: 0 2rem;
    padding: 1.93rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--black);
}

.current-view button {
    background-color: transparent;
    border: 0px solid transparent;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
}

.create-todo {
    margin-left: 2rem;
}

.delete-project :hover {
    color: var(--red)
}

.todos-container {
    margin: 1rem 5rem;
    gap: 1rem;
}

.todo {
    padding: 0.4rem 0.5rem;
    margin-bottom: 1rem;

    list-style: none;

    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px 40px ;
    gap: 0.5rem;
    align-items: center;

}

.todo h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.todo input[type="checkbox"]:before {
    height: 1.2rem;
    display: inline-block;
    
}

.todo input[type="checkbox"]:before {
    background-color: var(--white);
}

.todo button {
    border: 0px solid transparent;
    height: 40px;
    width: 40px;
    color: transparent;
}

.due-date {
    text-align: end;
    display: block;
    margin-right: 1rem;
}

.close {
    background: url(Icons/close-svgrepo-com.svg) center / contain no-repeat;
}

.show-more {
    background: url(Icons/chevron-down-svgrepo-com.svg) center / contain no-repeat;
}

.show-less {
    background: url(Icons/chevron-up-svgrepo-com.svg) center / contain no-repeat;
}

.description {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.low-priority {
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
}

.med-priority {
    border-top: 3px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
}

.high-priority {
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
}

.hidden {
    display: none;
    width: 62.5vw;
    padding: 1rem 3rem
}

.active {
    display: flex;
    flex-direction: column;
}

.btn-group {
    display: inline-flex;
    width: 100%;
}

.btn-group button {
    padding: 0.3rem 1rem;
    text-align: center;

    outline: none;
    border: none;
    
    border-right: 2px solid var(--white);

    color: var(--black);
    font-family: inherit;
    font-size: 0.8rem;

    width: 80px;
    height: 30px;

    background-color: #E0E0E0;
}

.btn-group :last-child {
    border-right: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-group :first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.btn-group :first-child:hover {
    background-color: #5463FF;
}

.btn-group :last-child:hover {
    background-color: var(--red);
}

.btn-group :nth-child(2):hover {
    background-color: var(--yellow);
}

.description {
    margin-top: 1rem;
    text-align: justify;
}


